@CHARSET "UTF-8";
* {
	margin: 0;
	padding: 0;
	font-size: 12px;
}
body {
	text-align: center;
	background: #ffffcc;
}
.input1 {
	border: solid 1px #cccccc;
	width: 150px;
}
select {
	border: solid 1px #cccccc;
	width: 152px;
}
.btn1 {
	border: none;
	width: 48px;
	height: 20px;
	background: url(../images/append_15.jpg);
}
.btn2 {
	border: none;
	width: 48px;
	height: 20px;
	background: url(../images/cancel.jpg);
}
.main1 {
	width: 270px;
	margin: 40px auto 5px auto;
}